.items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 24px;
  width: 100%;
  max-width: 600px;

  @media (max-width: 600px) {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

.item {
  display: flex;
  align-items: center;
  gap: 16px;

  .icon {
    width: 30px;
    height: 30px;
    flex-shrink: 0;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}
