.container {
  padding: 32px 0;
  border-top: 1px solid #b8b9bb;
  position: relative;

  h1 {
    text-shadow: 6px 6px 0px rgba(100, 100, 100, 0.2);
  }
}

.deco1 {
  position: absolute;
  width: 4px;
  height: 4px;
  top: -4px;
  left: 0;
  background: #535353;
}
