.image-container {
  width: 450px;
  height: 150px;
  clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 20% 100%);
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .img-bg {
    background: rgba(215, 215, 215, 0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    transform: skew(-35deg);
  }

  .img-bg-1 {
    left: -67.5%;
    top: 0;
  }

  .img-bg-2 {
    right: -68%;
    top: 0;
  }
}

.content {
  position: relative;
  top: -18px;
  border-left: 2px solid rgba(var(--primary-color-rgb-values), 0.2);
  border-right: 2px solid rgba(var(--primary-color-rgb-values), 0.2);
  max-width: 300px;
  padding: 8px;
}

.title {
  position: relative;
}

.title-content {
  padding: 16px;
  position: relative;
  display: flex;
  align-items: center;

  > svg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  > span {
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    font-size: 18px;
    color: white;
    font-weight: 500;
  }
}

.borders {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;

  span {
    position: absolute;
    width: 14px;
    height: 14px;
    transition: 0.3s;

    &:nth-child(1) {
      top: 0;
      left: 0;
      border-top: 2px solid var(--primary-color);
      border-left: 2px solid var(--primary-color);
      transform: translate(-2px, -2px);
    }

    &:nth-child(2) {
      top: 0;
      right: 0;
      border-top: 2px solid var(--primary-color);
      border-right: 2px solid var(--primary-color);
      transform: translate(2px, -2px);
    }

    &:nth-child(3) {
      bottom: 0;
      right: 0;
      border-bottom: 2px solid var(--primary-color);
      border-right: 2px solid var(--primary-color);
      transform: translate(2px, 2px);
    }

    &:nth-child(4) {
      bottom: 0;
      left: 0;
      border-bottom: 2px solid var(--primary-color);
      border-left: 2px solid var(--primary-color);
      transform: translate(-2px, 2px);
    }
  }
}

.shadow {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;

  background: linear-gradient(
    180deg,
    rgba(10, 97, 166, 0),
    rgba(10, 97, 166, 0.6),
    rgba(10, 97, 166, 0)
  );
  filter: blur(2px);
  transition: 0.2s;
  transform: translate(-50%, -50%) scaleY(2);
}

.description {
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: 500;

  p {
    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
