.button {
  background-color: var(--primaty-color);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  position: relative;
  overflow: hidden;

  &:not(.isMobile) {
    &:hover {
      transform: scale(1.3);
    }
  }
}
